body {
 background-color: antiquewhite;
}

.column1 {
 width: 40%;
 float: left;
 border: 5px solid royalblue;
 padding: 20px;
 margin: 30px;
 background-color: burlywood;
}

.column2 {
 width: 40%;
 float: left;
 border: 5px solid royalblue;
 padding: 20px;
 margin: 30px;
 background-color: burlywood;
}

img {
 
 height: 300px;
}

h1 {
 margin-left: 30px;
}

h3 {
 margin-left: 30px;
}